<nav class="navbar navbar-default">
    <div class="container-fluid container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="" alt="logo">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <!-- <li class="active"><a href="">home</a></li> -->
                <li {% if request.resolver_match.url_name == 'data_analysis' %} class="active" {% endif %}>
                    <a href="{% url 'data_analysis' %}">数据分析</a>
                </li>
                <li class="dropdown {% if request.resolver_match.url_name == 'ranking_statistics' %} active {% endif %}">
                    <a href="{% url 'ranking_statistics' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">排行统计<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">粉丝排行</a></li>
                        <li><a href="#">答案排行</a></li>
                    </ul>
                </li>
                <li {% if request.resolver_match.url_name == 'fetching_statistics' %} class="active" {% endif %}>
                    <a href="{% url 'fetching_statistics' %}">抓取统计</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
