{% if pages.has_other_pages %}
 <ul class="pagination">
   {% if pages.has_previous %}
     <li><a href="?orderby={{ request.GET.orderby }}&page={{ pages.previous_page_number }}">上一页</a></li>
   {% else %}
     <li class="disabled"><span>上一页</span></li>
   {% endif %}
   {% for i in pages.paginator.page_range %}
       {% if i < pages.number|add:+4 and i > pages.number|add:-4 %}
         {% if pages.number == i %}
           <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
         {% else %}
           <li><a href="?orderby={{ request.GET.orderby }}&page={{ i }}">{{ i }}</a></li>
         {% endif %}
       {% endif %}
   {% endfor %}
   {% if pages.has_next %}
     <li><a href="?orderby={{ request.GET.orderby }}&page={{ pages.next_page_number }}">下一页</a></li>
   {% else %}
     <li class="disabled"><span>下一页</span></li>
   {% endif %}
 </ul>
{% endif %}
